* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameBG {
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.screen-calib {
    width: 100vw;
    height: 100vh;
    position: relative;
    border: 5px solid red;
}