/* Google font import */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&family=Press+Start+2P&family=Special+Elite&family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */
.heading {
    font-family: "Big Shoulders Stencil", sans-serif;
    font-optical-sizing: auto;
    font-weight: 900;
}

p {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
}

/* Title & Main menu styles */

#title {
    text-decoration: none;
    color: Black;
}

#game,
#leaderboard,
#victory,
#failure {
    display: none;
}

/* Game section styles */

#game-display {
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
    border: 5px solid red;
}

#game-area {
    width: 35%;
    height: 52%;
    position: absolute;
    top: 45%;
    left: 49%;
    transform: translate(-50%, -50%);
    border: 5px solid lightgreen;
}

#gameBG {
    object-fit: cover;
}

