/* Google font import */
/*@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,900&family=Cinzel:wght@400..900&family=Press+Start+2P&family=Special+Elite&family=VT323&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Press+Start+2P&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Global styles */

:root {
    --primary-font: "Orbitron", sans-serif;
    --secondary-font: "Special Elite"
}

.rtn-menu {
    width: 35%;
    height: 10%;
    background-color: #880808;
    color: white;
    font-family: var(--primary-font);
    font-size: 1.3vw;
    margin: 4%;
}

/* Title & Main menu styles */

#title-screen {
    background-color: black;
    background-image: url(../images/newtitleimg2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    position: relative;
}

#title-logo {
    position: absolute;
    top: 5%;
    left: 2%;
    height: fit-content;
    width: 96%;
    justify-content: center;
}

#title-box {
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
}

#intro-box {
    display: flex;
    flex-direction: column;
    margin: 2%;
}

#intro-box > h3 {
    font-family: var(--primary-font);
    font-weight: 400;
    color: white;
    font-size: 1rem;
    margin-bottom: 10px;
}

#intro-text {
    font-family: var(--primary-font);
    font-weight: 400;
    color: black;
    padding: 10px;
    font-size: 0.8rem;
    letter-spacing: 1px;
    background-color: grey;
    height: 250px;
    overflow-y: scroll;

}

#title-img-box {
    background-size: cover;
    margin-left: auto;
}

#title-img {
    width: 95%;
    height: 80vh;

}

#menu-buttons {
    display: flex;
    flex-direction: column;
}

.menu-btn {
    padding: 5px;
    line-height: 1em;
    color: black;
    background-color: #d82a41;
    border: 4px solid #37091c;
    font-family: "Press Start 2P", system-ui;
    letter-spacing: 1px;
    font-size: 0.7em;
    margin-bottom: 3px;
}

#game,
#game-screen,
#diff-box,
#victory,
#failure,
#leaderboard {
    display: none;
}

/* Game section styles */
#logo {
    background-image: url("/assets/images/incommandlogo2.png");
    background-size: cover;
    background-position: bottom;
    height: 230px;
    width: 500px;
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 4;
}

#game {
    display: flex
}


#game-screen {
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../images/quiz-background3.jpg);
    background-size: cover;
    background-position: center;
}

#game-area {
    width: 50%;
    height: 65%;
    position: absolute;
    top: 53%;
    left: 51%;
    transform: translate(-50%, -50%);
    background-color: black;
    border: 1px solid darkgreen;
    border-radius: 3%;
}

#gameBG {
    object-fit: cover;
}

.diff-heading {
    font-family: var(--primary-font);
    font-size: 2vw;
    color: white;
    margin: 10%;
    letter-spacing: 3px;
}

#quiz-box {
    width: 90%;
    height: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.quiz-gamehead {
    display: flex;
    height: 30px;
    font-family: "Press Start 2P", system-ui;
    color: #d9cc11;
    letter-spacing: 2px;
    align-content: baseline;
}

.fa-square {
    height: 15px;
    width: 20px;
    font-size: 25px;
    margin-left: 15px;
}

#question-box {
    width: 100%;
    height: 35%;
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    letter-spacing: 2px;
    color: #00FF00;
    line-height: 1.3em;
    padding: 5px;
    margin: 10px;
}

#answer-btn-box {
    display: flex;
    flex-direction: column;
    height: 40%;
}

.ans-btn {
    border: 1px solid greenyellow;
    height: 28%;
    margin: 4px;
    background-color: black;
    font-family: "Press Start 2P", system-ui;
    color: yellow;
    letter-spacing: 2px;
}

#quiz-menu {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 8%;
    margin-top: 7px;
}

#quiz-info {
    font-family: "Press Start 2P", system-ui;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    color: #00FF00;
    justify-content: space-between;
}

.hide-guard {
    display: none;
}

#guard {
    width: 600px;
    height: 800px;
}

.show-guard {
    z-index: 5;
    position: absolute;
    top: 25%;
    left: 5%;
}

/* correct and incorrect answer button styling */
.correct {
    background-color: greenyellow;
    color: black;
    font-size: larger;
}

.incorrect {
    animation: flash 1s infinite alternate;
    color: yellow;
    font-size: larger;
}

@keyframes flash {
    from {
        background-color: inherit;
    } to {
        background-color: rgb(130, 16, 16);
    }
}

.no-answer {
    background-color: blue;
}

/*
.show-guard {
    background-image: ;
}
*/

/* Difficulty styles */

#diff-box {
    border: 5px solid silver;
    background-color: black;
    position: absolute;
    top: 47%;
    left: 47%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    text-align: center;
    margin: 3%;
}

#diff-box p {
    display: flex;
    justify-content: center;
    margin: 10%;
    color: white;
    font-family: var(--secondary-font);
    font-size: 1.2vw;
    letter-spacing: 1px;
}

.diff-btn {
    font-size: 0.8vw;
    width: 25%;
    height: 25%;
    padding: 1.3%;
    margin: 2%;
    background-color: burlywood;
    border: 4px solid #6B3D35;
    font-family: "Press Start 2P", system-ui;
    justify-content: space-between;
    letter-spacing: 2px;
}

/* Small devices (portrait tablets and large phones, 620px and up) */
@media only screen and (min-width: 620px) {
    #title-logo {
        width: 500px;
        position: absolute;
        left: 7%;
    }

    #title-screen {
        background-repeat: no-repeat;
        background-position: right;
        background-size: 75%;
    }

    #menu-buttons {
        flex-direction: row;
        justify-content: space-evenly;
        text-align: center;
    }

    .menu-btn {
        width: 150px;
        height: 50px;
    }

    #intro-text {
        font-size: 1rem;
        overflow-y: hidden;
    }

    #intro-box > h3 {
        font-size: 1.3rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #intro-text {
        font-size: 1.2rem;
    }

    .menu-btn {
        width: 200px;
        height: 50px;
        font-weight: bold;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1400px) {

    #title-logo {
        width: 700px;
        position: absolute;
        left: 10%;
    }

    #menu-buttons {
        flex-direction: column;
        justify-content: space-evenly;
        text-align: center;
        position: absolute;
        top: 34%;
        left: 18%;
        margin-bottom: 15px;
    }

    .menu-btn {
        margin-bottom: 15px;
        width: 300px;
    }

    #title-screen {
        background-size: 50%;
    }
}




